@tailwind base;
@tailwind components;
@tailwind utilities;

header {
    background-position-x: -340px;
    background-position-y: -290px;
}

.section_telefono
{
    background-position-x: -40px;
    background-position-y: -180px;
}