@tailwind base;
@tailwind components;
@tailwind utilities;

header {
    background-position-x: -340px;
    background-position-y: -290px;
}

.section_telefono {
    background-position-x: -40px;
    background-position-y: -180px;
}

@media only screen and (min-width: 1440px) {
    header {
        background-position-x: -600px;
        background-position-y: -1200px;
    }
    .section_telefono {
    background-position-x: -400px;
    background-position-y: -600px;
    }
}